/* Reset some default browser styles */
body,
h1,
p,
form,
button {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

.Attendance-section .container1 {
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 115px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Attendance-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Attendance-section form {
  text-align: left;
}

.Attendance-section .form-group {
  margin-bottom: 20px;
}

.Attendance-section label {
  display: block;
  font-weight: 600;
}

.Attendance-section .form-group {
  display: flex;
  align-items: center;
}

.Attendance-section .label-left,
.Attendance-section .label-right {
  display: inline;
  margin: 0;
  padding: 0;
}

.Attendance-section .label-left {
  margin-right: 305px;
  /* Adjust this margin to control the space between labels */
}

.Attendance-section button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 175px;
}

.Attendance-section button:hover {
  background-color: #2980b9;
}

/* Form animation */
.Attendance-section .form-group {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Attendance-section .label-text {
  margin: 0;
  padding: 0;
  width: 350px;
  /* Set the width of the label */
}
