
.westfooter {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #222329;
    padding: 45px 0 45px 0;
}

.westfooter .westcol {
    width: 240px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
}

.westfooter .westcol h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0 5px 0;
    color: rgb(255, 255, 255, 0.2);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.westfooter .westcol ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.westfooter .westcol ul li a {
    color: #aaaaaa;
    font-size: 14px;
    font-family: inherit;
    font-weight: normal;
    padding: 1px 0 1px 0;
    cursor: pointer;
    transition: 0.2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.westfooter .westcol ul li a:hover {
    color: #ffffff;
    transition: 0.1s;
}

.fab,
.far {
    color: #e7e7e7;
    width: 32px;
    height: 32px;
    background: transparent;
}

.fab:hover {
    background: transparent;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0;
    }
}

@media only screen and (max-width: 950px) {
    .westfooter .westcol {
        width: 33%;
    }

    .westfooter .westcol h1 {
        font-size: 14px;
    }

    .westfooter .westcol ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .westfooter .westcol {
        width: 50%;
    }

    .westfooter .westcol h1 {
        font-size: 14px;
    }

    .westfooter .westcol ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .westfooter .westcol {
        width: 100%;
    }
}


.twitter_embed_container {
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#fff 33.33%, #1DA1F2 33.33%, #1DA1F2 66.66%, #fff 66.66%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

@media (max-width: 600px) {
    .twitter_embed_container {
        padding: 0;
    }
}

.insta_embed_container {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#fff 33.33%, #8a3ab9 33.33%, #bc2a8d 66.66%, #fff 66.66%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

@media (max-width: 600px) {
    .insta_embed_container {
        padding: 0;
    }
}

